.container {
  z-index: 91;
}
.wspp-icon {
  position: fixed;
  bottom: 27px;
  right: 27px;
}

.wspp-icon i {
  font-size: 75px;
  color: var( --main-color );
  cursor: pointer;
  transition: all 0.3s ease;
}

.wspp-icon i:hover {
  transform: scale( 1.1 );
}
