.products {
  height: 1000px;
}

.section-title h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 470px;
  width: 200px;
  height: 3px;
  background-color: var( --bold-color );
}
