.section-title-product {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.section-title-product h2 {
  margin-left: 40px;
  font-weight: 600;
}

.section-title-product h2::before {
  content: '';
  height: 2px;
  position: absolute;
  top: 280px;
  width: 190px;
  background-color: var( --bold-color );
}

.col-45 {
  width: 45%;
}

.col-55 {
  width: 55%;
}

.product-detail img {
  margin-left: 40px;
}

.product-detail .desc {
  margin: 20px;
  margin-bottom: 40px;
}

.product-detail .ficha-tecnica {
  margin: 20px;
  margin-left: 100px;
  margin-bottom: 40px;
}
