<header>
  <div class='container'>
    <div class='row justify-content-between align-items-center'>

      <!-- Logo -->
      <div class='brand-name'>
        <img src="../../../assets/LOGO DEFINITIVO 1.png" alt="logo" height='168px' width="202px">
      </div>
      <!-- Logo -->

      <!-- Toggle-Button -->
      <div class='nav-toggler'>
        <i class=''></i>
      </div>
      <!-- Toggle-Button -->

      <!-- Navbar -->
      <nav>
        <ul>
          <li class='nav-item active'><a href='#' class='active'>Inicio</a></li>
          <li class='nav-item'><a href='#'>Quienes Somos</a></li>
          <li class='nav-item'><a href='#'>Productos <i class="fas fa-sort-down"></i></a></li>
          <li class='nav-item'><a href='#'>Contacto</a></li>
        </ul>
      </nav>
      <!-- Navbar -->

    </div>
  </div>
</header>
