.products {
  height: 1000px;
}

.section-title h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 470px;
  width: 200px;
  height: 3px;
  background-color: var( --bold-color );
}

.products {
  padding-top: 60px; 
  align-items: center;
}

.grid-item {
  margin-top: 50px;
  width: calc( 50% - 70px );
  cursor: pointer;
}

.grid-img {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.grid-item .grid-img img:hover {
  transform: scale( 1.04 );
}
.grid-img img {
  width: 331px;
  height: 308px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4 );
  border-radius: 32px;
  margin-left: 150px;
  transition: all 0.5s ease;
}

.grid-info {
  padding: 15px 0;
  padding-left: 100px;
}

.grid-info h3 {
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  text-align: center;
  text-transform: capitalize;
  color: var( --white-900 );
  margin: 10px 0 0;
}
